$welcome-area-title-font-size:2.96em;
$welcome-area-title-font-size-extra-large:2.96em;
$welcome-area-title-font-size-large:2.3em;
$welcome-area-title-font-size-medium:2em;
$welcome-area-title-font-size-small:1.6em;
$welcome-area-title-font-size-extra-small:1.6em;

$credit-font-size:1.1em;
$credit-font-size-extra-large:1.1em;
$credit-font-size-large:0.8em;
$credit-font-size-medium:0.7em;
$credit-font-size-small:0.6em;
$credit-font-size-extra-small:0.5em;

$area-title-color: #253336;

$area-title-font-size: 2.45em;
$area-title-font-size-extra-large: 2.45em;
$area-title-font-size-large: 1.95em;
$area-title-font-size-medium: 1.5em;
$area-title-font-size-small: 1.3em;
$area-title-font-size-extra-small: 1.3em;

$empty-msg-font-size:0.75em;
$empty-msg-font-size-extra-large:0.75em;
$empty-msg-font-size-large:0.75em;
$empty-msg-font-size-medium:0.75em;
$empty-msg-font-size-small:0.75em;
$empty-msg-font-size-extra-small:0.75em;

$area-text-font-color: #2b2f32;


$area-text-font-size: 1.5em;
$area-text-font-size-extra-large: 1.5em;
$area-text-font-size-large: 1.2em;
$area-text-font-size-medium: 1em;
$area-text-font-size-small: 0.8em;
$area-text-font-size-extra-small: 0.8em;

$add-button-text-size: 1.6em;
$add-button-text-size-extra-large: 1.6em;
$add-button-text-size-large: 1.2em;
$add-button-text-size-medium: 1em;
$add-button-text-size-small: 0.8em;
$add-button-text-size-extra-small: 0.8em;

$form-title-text-size: 1.5em;
$form-title-text-size-extra-large: 1.6em;
$form-title-text-size-large: 1.2em;
$form-title-text-size-medium: 1em;
$form-title-text-size-small: 0.8em;
$form-title-text-size-extra-small: 0.8em;

$form-label-text-size: 1.5em;
$form-label-text-size-extra-large: 0.7em;
$form-label-text-size-large: 0.5em;
$form-label-text-size-medium: 0.7em;
$form-label-text-size-small: 0.4em;
$form-label-text-size-extra-small: 0.4em;

$form-warning-text-size: 1.5em;
$form-warning-text-size-extra-large: 0.7em;
$form-warning-text-size-large: 1.5em;
$form-warning-text-size-medium: 0.7em;
$form-warning-text-size-small: 0.6em;
$form-warning-text-size-extra-small: 0.6em;

