$welcome-area-title-font-size:2.9em;
$welcome-area-title-font-size-extra-large:2.45em;
$welcome-area-title-font-size-large:0.9em;
$welcome-area-title-font-size-medium:2.9em;
$welcome-area-title-font-size-small:0.9em;
$welcome-area-title-font-size-extra-small:0.9em;

$credit-font-size:1.1em;
$credit-font-size-extra-large:0.8em;
$credit-font-size-large:1.1em;
$credit-font-size-medium:1.1em;
$credit-font-size-small:1.1em;
$credit-font-size-extra-small:1.1em;

$area-title-color: #253336;
$area-title-font-size: 2.4em;
$area-title-font-size-extra-large: 1.9em;
$area-title-font-size-large: 5em;
$area-title-font-size-medium: 1.4em;
$area-title-font-size-small: 1.4em;
$area-title-font-size-extra-small: 1.4em;

$empty-msg-font-size:0.75em;
$empty-msg-font-size-extra-large:0.75em;
$empty-msg-font-size-large:0.75em;
$empty-msg-font-size-medium:0.75em;
$empty-msg-font-size-small:0.75em;
$empty-msg-font-size-extra-small:0.75em;

$area-text-font-color: #2b2f32;


$area-text-font-size: 1.5em;
$area-text-font-size-extra-large: 1.3em;
$area-text-font-size-large: 1.5em;
$area-text-font-size-medium: 1.5em;
$area-text-font-size-small: 1.5em;
$area-text-font-size-extra-small: 1.5em;

$add-button-text-size: 1.5em;
$add-button-text-size-extra-large: 1.3em;
$add-button-text-size-large: 1.5em;
$add-button-text-size-medium: 1.5em;
$add-button-text-size-small: 1.5em;
$add-button-text-size-extra-small: 1.5em;

$form-title-text-size: 1.5em;
$form-title-text-size-extra-large: 1.3em;
$form-title-text-size-large: 1.5em;
$form-title-text-size-medium: 1.5em;
$form-title-text-size-small: 1.5em;
$form-title-text-size-extra-small: 1.5em;

$form-label-text-size: 1.5em;
$form-label-text-size-extra-large: 0.6em;
$form-label-text-size-large: 1.5em;
$form-label-text-size-medium: 1.5em;
$form-label-text-size-small: 1.5em;
$form-label-text-size-extra-small: 1.5em;

$form-warning-text-size: 1.5em;
$form-warning-text-size-extra-large: 0.6em;
$form-warning-text-size-large: 1.5em;
$form-warning-text-size-medium: 1.5em;
$form-warning-text-size-small: 1.5em;
$form-warning-text-size-extra-small: 1.5em;

