.book-list-title{
  color: #2c3339;
  border-bottom: 2.4px solid #27313a;
  font-size: 1.7rem;
}
.book-title{
  color: #2d3235;
  font-weight: 500;
}

.add-book-title{
  color: #00503f;
  border-bottom: 2.25px solid #00503f;
  font-size: 1rem;
}
.add-btn{
  Button{
    font-size: 0.83rem;
    font-weight: 500;
  }

}
.book {
  font-weight: 470;

  .book-icon {
    display: none;

    .icon-edit {
      font-size: 130%;
    }

    .icon-edit:hover {
      cursor: pointer;
    }

    .icon-trash-2 {
      font-size: 130%;
    }

    .icon-trash-2:hover {
      cursor: pointer;
    }
  }
}
.book:hover {
  background-color: #f5f5f5;

  .book-icon {
    display: block;
  }
}
.label{
  font-size: 0.8rem;
}
.create-btn{
  background-color: #03589b;
}
.closeBtn{
  cursor: pointer;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}
.warning {
  p {
    margin-right: 0;
    color: #bf1650;
    font-size: 0.7rem;
  }

  p::before {
    margin-left: 6px;
    display: inline;
    content: "⚠ ";
    text-align: right;
  }
}
.warning {
  text-align: right;
}

.clear-in{
  position: relative;
}
.clear-btn{
  position: absolute;
  top: 0;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border: none;
  top: 6.5px;
  right: 24px;
  height: 20px;
  cursor: pointer;
  color: black;
  background-color: transparent;
  transform: translateX(2px);
}
.bookInput{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #989898;
  border-radius: 0;
}
.bookInput:focus:required:invalid,.bookInput:focus:required:valid{
  box-shadow: 0 0 10px #bfdaff;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 2px solid #84b2ff;
}

.bookInput:required:invalid, .bookInput:required:valid{
    border: 1px solid #989898;
}
.separator{
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
  border: none;
  top:12px;
  right: 23px;
  border-left: 1px solid #989898;
  height: 17px;
}