.book-list-title {
  color: $area-title-color;
  border-bottom: 2px solid #27313a;
  font-size: $area-title-font-size;
}

.book-title {
  color: #2d3235;
  font-weight: 500;
}

.add-book-title {
  color: #00503f;
  border-bottom: 2.25px solid #00503f;
  font-size: $form-title-text-size;
  font-weight: 500;
}

.add-btn {
  Button {
    font-size: $add-button-text-size;
    font-weight: 500;
    margin-bottom: 20px;
  }

}

.book {
  .btn-options {
    display: none;

    .clickBtn {
      cursor: pointer;
    }
  }

  &:hover {
    background-color: #f5f5f5;

    .btn-options {
      display: flex;
    }
  }

  .book-text {
    font-size: $area-text-font-size;
    font-weight: 500;
    color: $area-text-font-color;
  }
}

.empty-msg {
  font-size: 0.75em;
  color: #636565;
  font-weight: 500;
}

.label {
  font-size: 0.6rem;
}

.create-btn {
  background-color: #03589b;
  padding: 2px 20px;
}

.close-btn {
  cursor: pointer;
}

.warning {
  p {
    margin: 0;
    color: #bf1650;
    font-size: 0.6rem;
  }

  p::before {
    display: inline;
    content: "⚠ ";
  }
}

.form-control {
  border: 2px solid #cdcdcd;
  height: 30px;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: 0 0 10px #bfdaff;
  border: 2px solid #84b2ff;
}

.create-btn {
  background-color: #03589b;
  padding: 2px 20px;
  border-radius: 6px;
}

.book-name-input {
  padding-left: 12px;
}
