// reading area's scss

.welcome-area {
  .title {
    font-weight: 650;
    font-size: $welcome-area-title-font-size;
  }

  Image {
    max-width: 100%;
    height: auto;
  }

  .credit {
    margin: 0;

    span {
      font-size: 1.1em;
      font-weight: 500;
    }
  }
}

