// reading area's scss

.welcome-area{
  .title{
    font-weight: 650;
    font-size: 2rem;
  }
  Image{
    max-width: 100%;
    height: auto;
  }
  .credit{
    font-size: 0.9rem;
    margin: 0;
  }
}

