// whole web page scss
body {
  font-family: 'Raleway', sans-serif;
}

.book-container-class {
  padding-left: 25px;
  padding-right: 25px;
}

.author-container-class {
  padding-left: 25px;
  padding-right: 25px;
}

